# Core ML frameworks
tensorflow==2.18.0
keras==2.10.0
torch==2.6.0
transformers==4.40.0
keras-tuner==1.4.7

# Scientific stack
numpy==1.26.4
pandas==2.3.1
scikit-learn==1.6.1
scipy==1.13.1
statsmodels==0.14.5

# Visualization
matplotlib==3.9.4
seaborn==0.13.2

# Bioinformatics tools (if Python wrappers used)
biopython==1.85

# Others (if needed)
jupyter==1.1.1
notebook==7.4.5
